.bodycontent{
  min-height: calc(100vh - 18rem);
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #e1ddcc;
}

body, p, a, ul, li{
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Euphoria Script", cursive;
  font-weight: 400;
  font-style: normal;
}

p, ul, li, label, input, textarea {
  font-size: 1.4rem;
}