.aboutmepic {
  height: 375px;
  padding: 20px;
  margin-right: 30px;
  border-radius: 50px;
}

.photodisplay {
   display: flex;
   justify-content: flex-end;
   border-radius: 30px;
}

.flex-container {
   display: inline;
   text-align: center;
   padding: 30px;
   color: #2b6b6e;
   font-size: 20px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about-container{
   display: flex;
   flex-direction: row-reverse;
}

.title {
   color: #2b6b6e;
   font-family: "Euphoria Script", cursive;
   font-weight: 400;
   font-style: normal;
   font-size: 2.5rem;
   display: flex;
   justify-content: flex-start;
   margin-top: 20px;
   margin-bottom: 20px;
   text-shadow: 1px 0 1px #2b6b6e;
}

.h2 {
   margin-bottom: 20px;
   font-size: 2rem;
}

li.list{
   display: table;
   text-align: center;
   margin-left: 200px;
}

@media screen and (max-width: 430px) {

.aboutmepic {
   height: 200px;
   }
.about-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;   
}
.flex-container {
   font-size: 17px;
}
.title{
   font-size: 20px;
}
.fulllist{
   display: block;
   justify-content: left;
   align-items: start;
}
}