footer{
  color:#e1ddcc;
  width: 100%;
  height: 8rem;
  background-color: #cb8cae;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  padding: 10px;
}

.topfooter{
  color:#e1ddcc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  
  /* This is to freaking center the middle one omg */
  padding-left: 50px;
}

.instalogo{
  color:#e1ddcc;
  height: 40px;
  width: 40px;
}

.contact{
  color:#e1ddcc;
}

.shop{
  color:#e1ddcc;
}

.about{
  color:#e1ddcc;
}