.image{
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #666;
    position:absolute;
    max-height: 510px;
    margin: 20px;

}

.first-view{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 50px;
}

.banner {
    border: solid 2px #e1ddcc;
    border-radius: 10px;
    background-color: #2b6b6e;
    color: #e1ddcc;
    height: 4rem;
    width: 800px;
    z-index: 1000;
    position: relative;
    padding: 1rem;    
    margin-top: -20px;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: xx-large;
    box-shadow: 0px 0px 10px #666;
}
.box{
    border: solid 2px #2b6b6e;
    border-radius: 10px;
    background-color: #cb8cae;
    color: #e1ddcc;
    z-index: 999;
    font-size: xx-large;
    padding: 2rem;
    position: relative;
    margin-top: 80px;
    height: 400px;
    width: 300px;
    font-style: oblique;
}

.boxR{
    margin-left: 250px;
}

.boxL{
    margin-right: 250px;
}

/* carousel styling */
.cimage {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 70px;
    width: 275px;
    object-fit: cover;
}

.carousel{
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}

.alice-carousel_stage-item {
    display: flex;
    flex-wrap: wrap;
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x:auto;
    justify-content: space-evenly;
}


/* Media Queries  */
@media screen and (max-width: 430px) {
    .image {
        max-height: 400px;
        margin: 40px;
    }

    #homepage {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .first-view{
        margin-left: 100px;
    }

    .banner {
    height: 2rem;
    width: 400px;
    z-index: 800;
    position: relative;
    padding: .5rem;    
    margin-top: -50px;
    font-size: medium;
    margin-left: 80px;
    }

    .boxL {
        margin-right: 50px;
    }

    .boxR {
        margin-left: 70px;
    }

    .box {
    font-size: medium;
    padding: 1rem;
    position: relative;
    margin-top: 40px;
    height: 200px;
    width: 125px;
    }
    
    .cimage {
        height: 150px;
        width: 125px;
        padding: 2px;
        margin-top: 70px;
        margin-bottom: 10pxpx;
        border-radius: 30px;
    }

    .carousel {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .alice-carousel_stage-item {
        width: 50px !important;
    }
}




