.image{
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #666;
    position:absolute;
    max-height: 510px;
    margin: 20px;

}

.first-view{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 50px;
}

.banner {
    border: solid 2px #e1ddcc;
    border-radius: 10px;
    background-color: #2b6b6e;
    color: #e1ddcc;
    height: 4rem;
    width: 800px;
    z-index: 1000;
    position: relative;
    padding: 1rem;    
    margin-top: -20px;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: xx-large;
    box-shadow: 0px 0px 10px #666;
}
.box{
    border: solid 2px #2b6b6e;
    border-radius: 10px;
    background-color: #cb8cae;
    color: #e1ddcc;
    z-index: 999;
    font-size: xx-large;
    padding: 2rem;
    position: relative;
    margin-top: 80px;
    height: 400px;
    width: 300px;
    font-style: oblique;
}

.boxR{
    margin-left: 250px;
}

.boxL{
    margin-right: 250px;
}

.cimage {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin-top: 150px;
    border-radius: 70px;
    width: 275px;
    object-fit: cover;
}

.carousel{
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}

.alice-carousel_stage-item {
    display: flex;
    flex-wrap: wrap;
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x:auto;
    justify-content: space-evenly;
}
