.store-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    background-color: #e1ddcc;
}

.card-image {
    display: flex;
    max-width: 60%;
    max-height: 60%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #666;
}

.card-body {
    width: 700px;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #2b6b6e;
    margin: 20px;
    border-radius: 30px;
    font-size: 60px;
    height: 500px;
    width: 400px;
    padding: 10px;
    background-color: #cb8cae;
    text-shadow: 1px 0 5px #e1ddcc;
    color: #2b6b6e;
}

.cart-button {
    border: none;
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    background-color: #2e4142;
    color: #e1ddcc;
    border: 2px solid #e1ddcc;
    cursor: pointer;
    height: 40px;
}

.cart-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.cart-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.cost-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.card-title{
    text-align: center;
}

@media screen and (max-width: 430px) {

.card-body {
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #2b6b6e;
    margin: 10px;
    border-radius: 30px;
    font-size: 20px;
    height: 200px;
    width: 150px;
    padding: 2px;
    background-color: #cb8cae;
    text-shadow: 1px 0 5px #e1ddcc;
    color: #2b6b6e;
}

.cart-button {
    border: none;
    padding: 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
    background-color: #2e4142;
    color: #e1ddcc;
    border: 1px solid #e1ddcc;
    cursor: pointer;
    height: 20px;
}
.store-body {
    padding: 10px;
    margin-left: 55px;
}
}



