.form-title1 {
    margin-top: 50px;
    font-size: 2rem;
    color: #2b6b6e;
}

.label1 {
    margin-top: 15px;
}

.submitbtn1 {
    font-size: 1.2rem;
    height: 30px;
    width: 40%;
    background-color: #2b6b6e;
    min-width: 100px;
    border: 2px solid #2b6b6e;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #2b6b6e;
    color: #e1ddcc;
}

.info-card-field, .update1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 2rem;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #cb8cae;
    box-shadow: 0 0 15px 0 #2b6b6e;
    border-radius: 10px;
}

.user-info {
    color: e1ddcc;
    margin: 10px;
    background-color: #2b6b6e;
    padding: 20px;
    border-radius: 10px;
    color: #e1ddcc;
}

.welcome {
    color: e1ddcc;
    margin: 10px;
    font-size: 30px;
    color: #2b6b6e;
    text-shadow: 1px 0 5px #e1ddcc;
}

@media screen and(max-width: 430px) {
 
}
